<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>

    {{ header_meta }}

    <link rel="stylesheet" type="text/css" href="{{ assets('css/style.css') }}">

    <!--[if IE 7]>
      <link href="http://postach.io/static/themes/_assets/fontawesome/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->

    <!--
    <style>
      /**
       * Your custom override CSS goes here. If you wanted to override the default link colour and hover state, you would do this:
       *
       *  a {
       *      color: #333; /* Override the default colour with a not-quite-black that is easy on the eyes on white screens */
       *  }
       *
       *  a:hover {
       *      color: #545454; /* This will now change the hover state as well */
       *  }
       *
       *  You can put anything you want to override in here, so be creative!
       */
    </style>
    -->

    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
  </head>
  <body>

    {% if is_login %}

      {{ login_form }}

    {% else  %}

    <div class="row">
      <div class="span4 header">
        <div class="bg-img" style="background-image: url('{% if site.cover_photo %}{{ site.cover_photo }}{% else %}{{ assets['background.jpg'] }}{% endif %}');"></div>
        <div class="gradient"></div>
        <div class="title">
          <h1>{{ site.name }}</h1>
          <ul class="social">
            {% if site.twitter %}
            <li>
              <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                <i class="icon-twitter"></i> Twitter
              </a>
            </li>
            {% endif %}

            {% if site.facebook %}
            <li>
              <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                <i class="icon-facebook-sign"></i> Facebook
              </a>
            </li>
            {% endif %}

            {% if site.googleplus %}
            <li>
              <a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">
                <i class="icon-google-plus"></i> Google+
              </a>
            </li>
            {% endif %}

            {% if site.linkedin %}
            <li>
              <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                <i class="icon-linkedin"></i> LinkedIn
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                <i class="icon-rss"></i> RSS
              </a>
            </li>
          </ul>
        </div>
        <a class="logo" href="/">
          <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}" width="100%" height="100%" />
        </a>
        <div class="site-description">
          <ul>
          <li><a href="/">Blog</a></li>
          {% if pages %}
          {% for page in pages %}
          <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row wrapper">

      <div class="span4 spacer"></div>

      {% if is_home or is_tag %}

      <div class="span6 offset1 posts">

          {% if is_tag %}
          <h4 class="sub-heading span6">Showing all posts tagged {{ tag }}:</h4>
          {% endif %}

          {% if posts %}
          {% for post in posts %}
          <div class="post span6">
            <div class="row">
              <div class="span6">
                <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
              </div>
            </div>
            <div class="post-body" data-type-cleanup="true">
              {{ post.content }}
            </div>
            <div class="post-info">
              <div class="info-left">
                <p class="date">{{ post.created_at|format_date }}</p>
              </div>
              <div class="info-right">
                <p class="read-more"><a href="{{ post.permalink }}">Read More &raquo;</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
          {% if not is_tag %}
          <div class="pagination span6">
            {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
            {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
          </div>
          {% endif %}
          {% else %}
          <h4 class="sub-heading span6">No Posts Yet :(</h4>
          {% endif %}
      </div>

      {% elif post %}

      <div class="span6 offset1 posts">
        <div class="post whole span6">
          <h1>{{ post.title }}</h1>
          <div class="post-info">
            <div class="info-left">
              <p class="date">{{ post.created_at|format_date }}</p>
            </div>
            <div class="info-right">
              <p class="comments">
                <a href="/"><i class="icon-comment"></i> 0</a>
              </p>
            </div>
          </div>
          <div class="post-body">
            <div class="post-content" data-type-cleanup="true">
              {{ post.content }}
            </div>

            {% if post.type == 'link' %}
            <p><a href="{{ post.url }}"><i class="icon-share"></i> {{ post.url }}</a></p>
            {% endif %}

            {{ theme.social.bar }}

            {% if post.tags %}
            <ul class="post-tags">
            {% for tag in post.tags %}
              <li><a href="/tag/{{ tag }}">{{ tag|format_tag(link=False, humanize=True) }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="post-footer">
            <p class="back"><a href="/">&laquo; Go Back</a></p>
          </div>
          {% if site.disqus %}
          <div class="post-comments">
            <div id="disqus_thread"></div>
            <script>
              var disqus_shortname = '{{ site.disqus }}';
              var disqus_url = '{{site.base_url}}{{ post.permalink }}';
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
          </div>
          {% endif %}
        </div>
      </div>

    {% elif post.type == 'page' %}

      <div class="span6 offset1 posts">
        <div class="post whole span6">
          <h1>{{ page.title }}</h1>
          <div class="post-body" data-type-cleanup="true">
            {{ page.content }}
          </div>
          <div class="post-footer">
            <p class="back"><a href="/">&laquo; Go Back</a></p>
          </div>
        </div>
      </div>

    {% endif %}

    </div>

    {% endif %}

    {{ footer_meta }}

    <!-- bootstrap -->
    <script src="http://postach.io/static/themes/_assets/bootstrap/js/bootstrap.min.js" /></script>
    
  </body>
</html>
